* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.calc {
    width: 360px;
    background-color: #F1EFF0;
    color: #1F1F20;
    border-radius: 51px;    
}

.screen {
    font-size: 56px;
    text-align: right;
    padding: 24px 24px;
    background: #e0e2d3;
    margin: 16px;
    border-radius: 35px 35px 16px 16px;
    box-shadow: 0px 2px 1px 1px rgba(255, 255, 255, 0.75), inset 0px 4px 8px #676B5C;
    text-shadow: 1px 4px 1px rgba(76, 94, 96, 0.2);
}

.calc-buttons {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 16px;
    padding: 16px 0;
}

.calc-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    padding: 0 16px;
}

.calc-button {
    background: linear-gradient(180deg, #F8F6F7 0%, #E6E1E2 100%);
    color: #1F1F20;
    border: none;
    border-radius: 500px;
    font-size: 32px;
    cursor: pointer;
    height: 70px;
    text-shadow: 0px 1px 0px #FFFFFF;

    box-shadow: 
    inset 0 1px 2px 0 rgba(255, 255, 255, 0.75),
    0px 0px 0px 2px rgba(0,0,0,0.75),
    0px 6px 4px rgba(58, 43, 39, 0.5),
    0px 4px 2px rgba(58, 43, 39, 0.75),
    inset 0px -4px 4px #ADA5A3, 
    inset 0px -8px 16px rgba(171, 163, 161, 0.5);

}

.calc-button:hover {
    background-color: #F1EFF0;
}

.calc-button:active {
    background-color: #F1EFF0;
    box-shadow: inset 0 1px 2px 0 hsl(0deg 0% 100% / 50%), 0px -1px 0px 3px rgba(0,0,0,0.75);
    transform: scale(0.97142857142);

}

.calc-button:last-child{
    color: #693615;
    font-weight: 500;
}
.double {
    grid-column: 1 /3;
}

.triple {
    grid-column: 1 /4;
}

#equal {
    background: linear-gradient(180deg, #F3E024 0%, #D69B01 100%);
    color: #1F1F20;
    box-shadow: 
    inset 0 1px 2px 0 rgba(255, 255, 255, 0.75),
    0px 0px 0px 2px rgba(0,0,0,0.75),
    0px 6px 4px rgba(58, 43, 39, 0.5),
    0px 4px 2px rgba(58, 43, 39, 0.75),
    inset 0px -4px 4px #815411, 
    inset 0px -8px 16px #B66D00;
    
}

#equal:active {
    box-shadow: inset 0 1px 2px 0 hsl(0deg 0% 100% / 50%), 0px -1px 0px 3px rgba(0,0,0,0.75);
    transform: scale(0.97142857142);

}


